.idea/
conf/config.php
blacklist.txt
resources/db_url_list_geoip2.csv
resources/db_url_list_lite.csv
resources/db_url_list_legacy.csv
resources/validation_list_geoip2.csv
resources/validation_list.csv
